<!--
* @Author                : Jbristhuille<jbristhuille@gmail.com>
* @CreatedDate           : 2025-06-20 14:40:00
* @LastEditors           : Jbristhuille<jbristhuille@gmail.com>
* @LastEditDate          : 2025-06-29 13:08:30
-->

<div class="project-dashboard">
  <ng-container *ngIf="project && metrics; else loading">
    <div class="project-header">
      <h2>{{project.name}}</h2>

      <div class="button-container">
        <button nz-button nzType="primary"
                nzSize="small"
                nz-popover
                nzPopoverContent="Create new metric">
          <span nz-icon nzType="sliders" nzTheme="outline"></span>
        </button>

        <button nz-button nzType="primary"
                nzSize="small"
                nzDanger
                nz-popover
                nzPopoverContent="Delete project"
                (click)="openProjectRemoveModal()">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </div>
    </div>

    <div class="project-content">
      <div *ngFor="let metric of metrics">{{metric.name}}</div>  <!-- TMP -->
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loading-container">
      <nz-spin></nz-spin>
    </div>
  </ng-template>
</div>
