/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2025-06-20 14:43:52                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2025-06-29 13:04:46                              *
 ****************************************************************************/

.project-dashboard {
  position: relative;
  height: 100%;

  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-container {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  .loading-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
