/*****************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>             *
 * @CreatedDate           : 2025-06-06 15:52:26                              *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>             *
 * @LastEditDate          : 2025-06-10 14:19:26                              *
 ****************************************************************************/

.sidebar-component {
  height: 100%;
  width: 280px;

  .sidebar-menu {
    height: 100%;
    position: relative;

    .loader {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}
