<!--
* @Author                : Jbristhuille<jbristhuille@gmail.com>
* @CreatedDate           : 2025-06-06 15:49:00
* @LastEditors           : Jbristhuille<jbristhuille@gmail.com>
* @LastEditDate          : 2025-06-06 16:16:25
-->

<div class="sidebar-component">
  <ul nz-menu nzMode="inline" class="sidebar-menu">
    <li nz-submenu nzTitle="Projects" nzIcon="project" nzOpen nzOpen>
      <ul>
        <ng-container *ngIf="projects; else loading">
          <li *ngFor="let project of projects" nz-menu-item>{{project.name}}</li>
        </ng-container>
      </ul>
    </li>

    <ng-template #loading>
      <nz-spin class="loader" nzSize="large" nzSimple></nz-spin>
    </ng-template>
  </ul>
</div>
